<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="fas fa-chart-line" style="padding-right: 5px"></i>

  <a class="navbar-brand" href="#">Ticker Tracker</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"></li>
    </ul>
    <form id="searchform" class="form-inline my-2 my-lg-0">
      <input
        type="text"
        class="form-control mr-sm-2"
        #box
        (keydown.enter)="$event.preventDefault()"
      />
      <button
        type="button"
        class="btn btn-outline-success my-2 my-sm-0"
        (click)="addStock(box.value); sendValue(box.value); finish()"
      >
        Search
      </button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="card mx-auto" style="width:70%" *ngIf="stockData; else noStocks">
  <div class="card-header stock-banner">
    {{ stockData.companyName }}
    <br />
    <div class="small">({{ stockData.symbol }})</div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ stockData.latestPrice | currency }}</h5>
    <br />
    <p class="card-text">
      High: {{ stockData.high | currency }} Open:
      {{ stockData.open | currency }}
      <br />
      Low:{{ stockData.low | currency }} Close: {{ stockData.close | currency }}
      <br />
      <br />
    </p>
    <a href="#" class="btn btn-primary"
      ><span class="fas fa-plus-circle"></span> Add to Watchlist</a
    >
  </div>
</div>

<ng-template #noStocks>
  <div class="text-center">Add symbol to tracker!</div>
</ng-template>

<!-- footer -->
<footer class="footer">
  <div class="container d-flex justify-content-between">
    <div class="text-left">
      <div class="font-weight-bold base">Ticker Tracker</div>
      <div class="small">© Copyright 2019</div>
    </div>
    <div class="text-right">
      <div class="font-weight-bold base">University of Arkansas</div>
      <div class="small">1 University of Arkansas</div>
      <div class="small">Fayetteville, AR 72704</div>
    </div>
  </div>
</footer>
