<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="fas fa-chart-line" style="padding-right: 5px"></i>

  <a class="navbar-brand" href="#">Ticker Tracker</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"></li>
    </ul>
    <form id="searchform" class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        #box
        (keyup.esc)="addStock(box.value)"
      />
      <button
        type="button"
        class="btn btn-outline-success my-2 my-sm-0"
        (click)="addStock(box.value)"
      >
        Search
      </button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>

<div
  class="container shadow p-3 mb-5 bg-white rounded text-left"
  *ngIf="stockData; else noStocks"
>
  <h3>{{ stockData.companyName }}</h3>
  {{ stockData.symbol }}
  {{ stockData.latestPrice | currency }}
  {{ stockData.iexRealtimePrice }}
  <br />
  <br />
  {{ stockData.high }}
  {{ stockData.low }}
  {{ stockData.open }}
  {{ stockData.close }}
  <br />
  <br />
  <button type="button" class="btn btn-xs btn-primary">
    <span class="fas fa-plus-circle"></span>Add To Watchlist
  </button>
</div>

<ng-template #noStocks>
  <div class="text-center">Add symbol to tracker!</div>
</ng-template>

<!-- footer -->
<footer class="footer">
  <div class="container d-flex justify-content-between">
    <div class="text-left">
      <div class="font-weight-bold base">Ticker Tracker</div>
      <div class="small">© Copyright 2019</div>
    </div>
    <div class="text-right">
      <div class="font-weight-bold base">University of Arkansas</div>
      <div class="small">1 University of Arkansas</div>
      <div class="small">Fayetteville, AR 72704</div>
    </div>
  </div>
</footer>
